<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <title>Text Highlighter</title>
</head>
<body>
  <div class="container">
    <textarea row='5' column='40' id="textInput" placeholder="Enter your text..."></textarea>
          <button id="predictButton">Predict</button>
      <div id="markedText" class="output-section"></div>
  </div>
  <script src="script.js"></script>
</body>
</html>
