<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/predictionPage.css">
</head>
<body>
    <div id="container">
        <div id=markedText class="row">
        </div>
    </div>

    <div id="button-container">
        <a href="index.html">
          <button class="button">Back</button>
        </a>

    </div>
    <script src="../static/handlePrediction.js"></script>
</body>
</html>
