/* static/style.css */

html, body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #FFF8DC;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  align-items: center;
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-top: 10%;
}

textarea {
  width: 33%;
  height: 50vh;
  padding: 10px;
  border-radius: 10px;
  background-color: #F5DEB3;
  color: #5A3C1E;
}
textarea::placeholder {
    color: #BC8F62;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #F5DEB3;
    color: #5A3C1E;
    border: none;
    border-radius: 5px;
}

