/* static/style.css */

html, body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #FFF8DC;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  align-items: center;
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-top: 10%;
}

textarea {
  width: 33%;
  height: 50vh;
  padding: 10px;
  border-radius: 10px;
  background-color: #F5DEB3;
  color: #5A3C1E;
}
textarea::placeholder {
    color: #BC8F62;
}

.predictButton {
  margin-top: 10px;
  padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #F5DEB3;
    color: #5A3C1E;
    border: none;
    border-radius: 5px;
}
/* Add this to your existing stylesheet or create a new one */
.loader {
  border: 8px solid #FFF8DC; /* Light gray border */
  border-top: 8px solid #BC8F62;; /* Blue border for the spinning part */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Spin animation */
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.button-container {
      display: flex;
      margin-bottom: 10px;
    }

.button {
      cursor: pointer;
      padding: 10px;
      margin-right: 10px;
      background-color: #FFF8DC;;
      border-radius: 5px;
      color: #5A3C1E;
}

.button.active {
  background-color: #F5DEB3;
}
